<script>
    import Card from '../../components/StateCard.svelte';
    import SearchBar from '../../components/SearchBar.svelte';
    import SortDropdown from '../../components/Sort.svelte';
    import { onMount, tick } from 'svelte';

    let content = [];         
    let currentPage = 1;
    let instancesPerPage = 9;
    let searchText = ''; 
    let total = 0;

    let goToNext = true;
    let goToPrev = false;

    let sortParam = ''; 
    let sortOrder = 'asc'; 


    async function fetchData(skip, limit, sort = '', query = '', order='asc') {
        let url = `https://api.care-hub.me/states?limit=${limit}&skip=${skip}`;
        if (sort)
            url += `&sort=${sort}`;
        if (order)
            url += `&order=${order}`;
        if (query)
            url = `https://api.care-hub.me/search/states?query=${encodeURIComponent(query)}`;
        let res = await fetch(url);
        res = await res.json();
        return res;
    }

    async function loadData() {
        const res = await fetchData((currentPage - 1) * instancesPerPage, instancesPerPage, sortParam, null, sortOrder);
        content = res[0];
        total = res[1];
        updatePaginationControls();
    }

    onMount(loadData);

    async function nextPage() {
        currentPage++;
        await loadData();
        scrollToTop();
    }

    async function nextMostPage() {
        currentPage = Math.ceil(total / instancesPerPage);
        await loadData();
        scrollToTop();
    }

    async function prevPage() {
        currentPage--;
        await loadData();
        scrollToTop();
    }

    async function prevMostPage() {
        currentPage = 1;
        await loadData();
        scrollToTop();
    }

    async function handleSearch(event) {
        if (searchText.trim() === '') {
            await loadData();
        } else {
            const res = await fetchData(0, total, '', searchText);
            content = res;
            total = res.length;
            currentPage = 1;
            goToNext = false;
            goToPrev = false;
            await tick(); 
        }
    }

    async function handleAttributeClick(option, order='asc') {
        sortParam = option;
        sortOrder = order;
        currentPage = 1;
        await loadData();
    }

    function updatePaginationControls() {
        goToNext = currentPage * instancesPerPage < total;
        goToPrev = currentPage > 1;
    }

    function scrollToTop() {
        window.scrollTo(0, 0);
    }

    let src = '/photos/headers/states.png';
</script>

<h1 class="font-bold text-4xl mx-auto text-center mt-12">Demographics</h1>

<!-- add a description for the page -->
<p class="text-center text-gray-400 mt-4 w-3/4 mb-8 mx-auto">
    These are the demographics for different states in the United States.  <a class="text-light-blue underline" href="https://aspe.hhs.gov/reports/state-local-estimates-uninsured-population-2022">Health and Human Services government agency</a> Information about each demographic includes popoulation, the number of health centers, the number of hospitals, the uninsured population percentage, and the percent of low income families in the respective states.
  </p>

<div class="flex flex-row flex-wrap space-x-4 place-content-center mx-5 sm:mx-12 mb-12">
    <!-- svelte-ignore a11y-img-redundant-alt -->
    <img {src} alt="Demographics Image" style="width: 100%; max-width: 480px; height: auto;" />
</div>

<p class="text-center text-gray-400 mt-4 w-3/4 mb-8 mx-auto text-sm">
    {total-1} results
</p>

<!-- Container for search bar and dropdown, aligned in a row -->
<div class="flex flex-row items-center mt-5 p-2 bg-gray-100 mx-10 rounded-md">
    <!-- Search Bar Component -->
    <SearchBar bind:searchText {handleSearch} />

    <!-- Dropdown Component -->
    <SortDropdown items={{
        "Income": "low_income",
        "Health Centers": "health_centers",
        "Hospitals": "hospitals",
        "Percent Uninsured": "uninsured",
        "Population": "population"
    }} handleSelect={handleAttributeClick} />
</div>

<!-- main cards -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-10" id="results">
    {#key currentPage}
    {#if content}
    {#each content as item}
        <Card {...item} highlightText={searchText} />
    {/each}
    {:else}
        <p>Loading...</p>
    {/if}
    {/key}
</div>

<!-- page selection -->
<div class="flex flex-row items-center justify-center mt-12">
    <button class="{goToPrev ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-l" on:click={prevMostPage} disabled='{!goToPrev}'>
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
   </button>
   <button class="{goToPrev ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-l" on:click={prevPage} disabled='{!goToPrev}'>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
  </button>
  <div class="bg-gray-200 text-gray-800 font-bold py-2 px-4">
      {currentPage} of {Math.ceil(total / instancesPerPage)} 
  </div>
  <button class="{goToNext ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-r" on:click={nextPage} disabled='{!goToNext}'>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
  </button>
  <button class="{goToNext ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-r" on:click={nextMostPage} disabled='{!goToNext}'>
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
</button>
</div>