<script>
  import { onMount, tick } from 'svelte';
  import StateCard from '../components/StateCard.svelte';
  import HospitalCard from '../components/HospitalCard.svelte';
  import OrgCard from '../components/OrgCard.svelte';

  let slideIndex = 0;
  let slides;
  let searchText = '';
  let isPopupVisible = false;
  let total = 0;
  
  let states = [];
  let hospitals = [];
  let organizations = [];

  let highlightedResults = '';

  // This function updates the display of the slides
  // function updateSlides() {
  //   // Hide all slides
  //   for (let i = 0; i < slides.length; i++) {
  //     slides[i].style.display = 'none';
  //   }
  //   // Show the current slide
  //   slides[slideIndex].style.display = 'block';
  //   // Increment slide index or reset to 0 if reached the end
  //   slideIndex = (slideIndex + 1) % slides.length;

  //   // Set timeout to update slides every 2 seconds
    
  // }

  // // This function starts the slideshow
  // function startSlideshow() {
  //   // Get all slide elements
  //   slides = document.getElementsByClassName('slide');
  //   // Update slides initially
  //   updateSlides();
  //   const interval = setInterval(() => {console.log("updating"); updateSlides()}, 1000);
  //   clearInterval(interval); // thanks @Luca D'Amico
  // }

  // // Start the slideshow when the component mounts
  // onMount(startSlideshow);

  async function togglePopupVisibility() {
    isPopupVisible = !isPopupVisible;
    if (!isPopupVisible) {
      searchText = '';
      highlightedResults = ''; 
    } else {
      await tick();
      console.log('focus');
      document.getElementById('main-input').focus();
    }
  }

  async function handleSearch(event) {
    states = [];
    hospitals = [];
    organizations = [];
    total = 0;
    highlightedResults = '';
    if (searchText.trim() !== '') {
      let res = await fetch(`https://api.care-hub.me/search?query=${encodeURIComponent(searchText)}`);
      res = await res.json();
      states = res.states || [];
      hospitals = res.hospitals || [];
      organizations = res.organizations || [];
      total = states.length + hospitals.length + organizations.length;
      await tick();
    }
  }
</script>
  
<style>
  .font-roboto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }

  .slideshow-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }

  .slide {
    display: none;
    width: 100%;
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
  }

  .popup-content {
    padding: 20px;
    width: 90%;
    height: 90%;
    overflow-y: auto;
  }

  /* Add style for close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
  }

  .link-button {
      background-color: #4CAF50; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
      transition-duration: 0.4s;
  }

  .link-button:hover {
      background-color: #45a049; 
  }

  .tab-button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease;
  margin-right: 35px; 
}

  .tab-button:hover {
    background-color: #e0e0e0;
  }

  .tab-button.active {
    background-color: #fff;
    border-bottom: 2px solid #333;
  }

  .tab-button:not(.active) {
    background-color: #ccc;
  }

  .search-input {
    border: 2px solid #333; /* Green border */
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: border-color 0.3s ease; 
  }

  /* Change border color on focus to make it more prominent */
  .search-input:focus {
    border-color: #333; 
    outline: none; 
  }
</style>

<div class="flex flex-row items-center mt-5 p-2 bg-gray-100 mx-10 rounded-md">
  <form class="flex flex-row flex-grow">
    <input type="text" class="search-input border-gray-300 border rounded-l-md py-2 px-3 flex-grow" placeholder="Global Search..." bind:value={searchText} on:click={togglePopupVisibility} />
  </form>
</div>


{#if isPopupVisible}
<div class="popup">
  <div class="popup-content">
    <!-- Add close button -->
    <span class="close-button" on:click={togglePopupVisibility}>X</span>
    <!-- Pop-up content here -->
    <h2 class="text-2xl font-bold mb-4">Global Search</h2>
    <div class="flex flex-row items-center mt-5 p-2 bg-gray-100 mx-10 rounded-md">
      <form class="flex flex-row flex-grow" on:submit|preventDefault={handleSearch}>
        <input id="main-input" type="text" class="border-gray-300 border rounded-l-md py-2 px-3 flex-grow" placeholder="Search to see Results" bind:value={searchText}/>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 border border-blue-500 text-white text-sm py-2 mr-2 px-4 rounded-r-md cursor-pointer" on:click|preventDefault={handleSearch}>Search</button>
      </form>
    </div>
    
    <!-- Tab buttons -->
    <div class="flex justify-center mt-5">
      <button class="tab-button {highlightedResults === 'states' ? 'active' : ''}" on:click={() => highlightedResults = 'states'}>States ({states.length})</button>
      <button class="tab-button {highlightedResults === 'hospitals' ? 'active' : ''}" on:click={() => highlightedResults = 'hospitals'}>Hospitals ({hospitals.length})</button>
      <button class="tab-button {highlightedResults === 'organizations' ? 'active' : ''}" on:click={() => highlightedResults = 'organizations'}>Organizations ({organizations.length})</button>
    </div>
    
    <!-- Render states with highlighted search text -->
        
    <!-- Render states with highlighted search text -->
    <div class="{highlightedResults === 'states' ? '' : 'hidden'}">
      <h2 class="text-lg font-semibold mb-2">Demographics</h2>
      <div class="card-container">
        {#each states as state}
          <StateCard {...state} highlightText={searchText}/>
        {/each}
      </div>
    </div>

    <!-- Render hospitals with highlighted search text -->
    <div class="{highlightedResults === 'hospitals' ? '' : 'hidden'}">
      <h2 class="text-lg font-semibold mb-2">Hospitals</h2>
      <div class="card-container">
        {#each hospitals as hospital}
          <HospitalCard {...hospital} highlightText={searchText}/>
        {/each}
      </div>
    </div>

    <!-- Render organizations with highlighted search text -->
    <div class="{highlightedResults === 'organizations' ? '' : 'hidden'}">
      <h2 class="text-lg font-semibold mb-2">Organizations</h2>
      <div class="card-container">
        {#each organizations as organization}
          <OrgCard {...organization} highlightText={searchText}/>
        {/each}
      </div>
    </div>


    </div>
</div>
{/if}

<div class="bg-blue-100 py-8 font-roboto">
    <!-- Title -->
    <h1 class="text-4xl my-4 text-center font-bold">Welcome to CareHub!</h1>

    <!-- Container for centering -->
    <div class="flex justify-center max-w-screen-lg mx-auto">
        <!-- Description and big image -->
        <div class="flex items-center mr-20">
            <!-- Description -->
            <p class="whitespace-pre-line text-base text-justify mx-7 mb-6">
                At CareHub, we are committed to providing assistance and resources to individuals who are uninsured and in need of medical care. We understand the challenges you face and are here to help you navigate the healthcare system and access the support you need.

                Those who are uninsured or underinsured often face significant barriers to accessing healthcare. In particular, those who are ill to chronic conditions, especially conditions that render them unable to work (such as multiple sclerosis) exacerbates the problem of low income or lack of employment being a barrier to quality healthcare in the U.S.

                Common chronic conditions in the U.S. include cancer, diabetes, and arthritis. These conditions can be debilitating and require ongoing medical care, which can be extremely expensive, even for those with traditional private insurance. For those without insurance, the cost of care can be prohibitive, leading to a lack of access to necessary medical care.

                <button class="link-button" onclick="window.location.href='https://www.cbsnews.com/news/medicaid-children-uninsured/'">
                  Read the CBS News Article
              </button>
            
              </p>
            
            <!-- Image -->
            <img src="/photos/home-icons/doctor.jpg" alt="Big" class="w-96 h-auto mb-6">
        </div>
    </div>

    

    <!-- Labels under the image -->
    <div class="bg-white p-8 rounded-md flex justify-center items-center">
        <div class="mb-4 flex items-center mr-60">
            <a href="/demographics">
                <img src="/photos/home-icons/analysis.png" alt="State Demographic Data" class="w-12 h-12">
            </a>
            <div class="ml-2">
                <span class="font-bold">State Demographic Data</span>
            </div>
        </div>
        <div class="mb-4 flex items-center mr-60">
            <a href="/hospitals">
                <img src="/photos/home-icons/hospital-building.png" alt="Hospitals" class="w-12 h-12">
            </a>
            <div class="ml-2">
                <span class="font-bold">Hospitals</span>
            </div>
        </div>
        <div class="flex items-center">
            <a href="/organizations">
                <img src="/photos/home-icons/healthcare.png" alt="Organizations" class="w-12 h-12">
            </a>
            <div class="ml-2">
                <span class="font-bold">Organizations</span>
            </div>
        </div>
    </div>
</div>


<!-- <div class="flex justify-center m-10">
    <div class="slideshow-container relative">
        <div class="slide w-full">
            <img src="/photos/home-icons/hospital-1.jpg" alt="Slide 1">
            <div class="absolute inset-x-0 bottom-0 bg-black bg-opacity-50 text-white p-2 text-center">A typical hospital</div>
        </div>
        <div class="slide w-full">
            <img src="/photos/home-icons/hospital-2.jpg" alt="Slide 2">
            <div class="absolute inset-x-0 bottom-0 bg-black bg-opacity-50 text-white p-2 text-center">Children's Hospital in Philadelphia</div>
        </div>
        <div class="slide w-full">
            <img src="/photos/home-icons/hospital-3.jpg" alt="Slide 3">
            <div class="absolute inset-x-0 bottom-0 bg-black bg-opacity-50 text-white p-2 text-center">A typical view inside the hospital</div>
        </div>
        <div class="slide w-full">
            <img src="/photos/home-icons/hospital-4.jpg" alt="Slide 4">
            <div class="absolute inset-x-0 bottom-0 bg-black bg-opacity-50 text-white p-2 text-center">Bay Care center in Albuquerque</div>
        </div>
    </div>
</div> -->

<div class="carousel w-full h-72">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="/photos/home-icons/hospital-1.jpg" class="w-full object-cover" alt="carousel"/>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a> 
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide2" class="carousel-item relative w-full">
    <img src="/photos/home-icons/hospital-2.jpg" class="w-full object-cover" alt="carousel"/>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide1" class="btn btn-circle">❮</a> 
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide3" class="carousel-item relative w-full">
    <img src="/photos/home-icons/hospital-3.jpg" class="w-full object-cover" alt="carousel"/>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide2" class="btn btn-circle">❮</a> 
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide4" class="carousel-item relative w-full">
    <img src="/photos/home-icons/hospital-4.jpg" class="w-full object-cover" alt="carousel"/>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a> 
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>
