<script>
    import Viz1 from '../../components/viz/1_NumPerState.svelte';
    import Viz2 from '../../components/viz/2_CountyDemographics.svelte';
    import Viz3 from '../../components/viz/3_TypeBreakdown.svelte';
</script>

<h1 class="font-bold text-2xl my-10 text-center" id="title">Visualizations</h1>
<Viz1 />
<Viz2 />
<Viz3 />

<!-- Existing content -->

<div id="lollipop-container" class="mt-10 mx-auto"></div>
<style>
    p{
        text-align: center;
        margin-top: 15px;
        padding-bottom: 50px;
    }
    .mt-10.mx-auto {
       text-align: center;
    }
    .answer-container {
        max-width: 600px; /* Set the maximum width of the answer text */
        margin: 0 auto; /* Center the container horizontally */
        text-align: left; /* Align the text inside the container to the left */
    }
</style>

<!-- New content: Questions -->
<div class="mt-10 mx-auto"> <!-- Apply mx-auto class to center horizontally -->
    <u><h3 class="font-bold text-2xl my-10 text-center">Self Critiques</h3></u>
    <ul style="text-align: center;">
        <b><li>What did we do well?</li></b>
        <div class="answer-container"> 
            <p>Our team did an amazing job communicating with each other and adjusting to each others' schedules. We made a website that we are all proud of and can say that we had a great time working on.</p>
        </div>
        <b><li>What did we learn?</li></b>
        <div class="answer-container">
            <p>We learned a great deal about web development through the course of this project. Some of these learning opportunities arised from using Postman, calling and creating an API, creating a database, filtering and sorting, and using Javascript and Svelte. This was also a great opportunity to learn how to work in a team and utilize skills that will be beneficial to each one of our futures.   </p>
        </div>
        <!-- Repeat the above pattern for other questions -->
        <b><li>What did we teach each other?</li></b>
        <div class="answer-container">
            <p>Our group taught us a lot by working together. Every person on our team had a unique skill set that we used to learn from each other and further progress towards a complete website. We also taught each other how to work as a team with different responsibilities and schedules.</p>
        </div>
        <!-- Repeat the above pattern for other questions -->
        <b><li>What can we do better?</li></b>
        <div class="answer-container">
            <p>Something our team could have done better on this project was working on different stylings and animations in certain areas of our website. If we had more time, we could also work on adding more graphics and making the website more interactive. </p>
        </div>
        <!-- Repeat the above pattern for other questions -->
        <b><li>What effects did the peer reviews have?</li></b>
        <div class="answer-container">
            <p>The peer reviews were a great way of keeping our team members accountable and aware of their responsibilities and roles within the project space. The anonymity of the reviews also were very important in making sure that the reviews were a comfortable space to say your truth and make sure you point gets sent across.</p>
        </div>
        <!-- Repeat the above pattern for other questions -->
        <b><li>What puzzles us?</li></b>
        <div class="answer-container">
            <p>Something that puzzles us is the layout of our website is unique on different screens and devices. If we had more time, we would like to fix this issue and have it to where it is more responsive to different screens and sizes.</p>
        </div>
    </ul>
</div>