<script>
    export let name;
    export let role;
    export let description;
    export let imageUrl;
    export let commits;
    export let issues;
    export let tests;
    export let username;
</script>

<div class="max-w-xs rounded overflow-hidden shadow-lg">
    <img class="w-full" src={imageUrl} alt="Profile Pic"/>
    <div class="whitespace-pre-line text-sm">
        <div class="px-6 py-4">
            <a href={`https://gitlab.com/${username}`} target="_blank">
                <p class="text-gray-400 hover:text-gray-600 text-xs">
                    @{username}
                </p>
            </a>
            <div class="font-bold text-xl mb-2">{name}</div>
            <p class="text-gray-700 mb-2">
                {description}
            </p>

            <p class="text-gray-400 text-sm italic mb-2">
                {role}
            </p>
            
            <div>
                <ul class="space-y-1 text-gray-500 dark:text-gray-400">
                    <li>Commits: <span class="text-gray-600">{commits}</span></li>
                    <li>Issues Closed: <span class="text-gray-600">{issues}</span></li>
                    <li>Unit Tests Written: <span class="text-gray-600">{tests}</span></li>
                </ul> 
            </div>
        </div>
    </div>
</div>