<script>
    import Icon from '@iconify/svelte';

    export let name;
    export let id;
    export let city;
    export let state_abbr;
    export let image;
    export let services;
    export let num_patients_2022;
    export let highlightText; 

    // Function to convert rating to stars
    function getRatingStars(rating) {
        const numStars = Math.round(rating); // Round the rating to nearest whole number
        return Array.from({ length: numStars }, (_, index) => index + 1); // Create an array of star indices
    }
</script>

<div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <img class="w-full h-56 object-cover object-center" src={image} alt="avatar">
    <div class="py-4 px-6 w-full flex flex-col justify-between">
        {#if highlightText && name.toLowerCase().includes(highlightText.toLowerCase())}
            <h4 class="text-lg font-bold text-gray-800">
                {#each name.split(new RegExp(`(${highlightText})`, 'ig')) as part}
                    {#if part.toLowerCase() === highlightText.toLowerCase()}
                        <span class="highlight">{part}</span>
                    {:else}
                        {part}
                    {/if}
                {/each}
            </h4>
        {:else}
            <h4 class="text-lg font-bold text-gray-800">{name}</h4>
        {/if}

        <div class="flex items-center mt-4 text-gray-700">
            <div class="flex items-center mb-2">
                <Icon icon="fa6-solid:location-dot" class="h-5 w-" /> <span class="mx-1">  {city}, {state_abbr}</span>
            </div>
        </div>
        <div class="flex items-center mt-2 text-gray-700">
            <div class="flex items-center mb-2">
                <Icon icon="fa6-solid:hospital" class="h-5 w-5" /> <span class="mx-2">Services: {services!=null?services:"Unknown"}</span>
            </div>
        </div>
        <div class="flex items-center mt-2 text-gray-700">
            <div class="flex items-center mb-2">
                <Icon icon="pepicons-pop:people" width="25" height="25" /> <span class="mx-2">Patients in 2022: {num_patients_2022!=null?num_patients_2022:"Unknown"}</span>
            </div>
        </div>
        <a href={"/hospitals/" + id} class="bg-gray-200 text-gray-800 font-semibold py-2 px-4 text-sm rounded-full mx-auto mt-3 hover:bg-gray-600 hover:text-white transition-all">
            Learn More
        </a>
    </div>
    
</div>

<style>
    .highlight {
        background-color: yellow;
    }
</style>
