<script>
    export let searchText = '';
    export let handleSearch;
</script>

<form class="flex flex-row flex-grow" on:submit|preventDefault={handleSearch} on:click|preventDefault={handleSearch}>
    <input type="text" class="border-gray-300 border rounded-l-md py-2 px-3 flex-grow" placeholder="Search..." bind:value={searchText}/>
    <submit class="bg-blue-500 hover:bg-blue-700 border border-blue-500 text-white text-sm py-2 mr-2 px-4 rounded-r-md cursor-pointer">Search</submit>
</form>