<script>
    export let items = {};
    export let handleSelect;

    let checked = false;
    let order = 'asc';
    let selected = '';
    let option = '';
    $: order = checked ? 'desc' : 'asc';
    $: option = items[selected];

    // change dropdown title
    let title = 'Sort by';
    $: {
        if (selected) {
            title = 'Sort by ' + selected;
        }
        if (order === 'desc' && title !== 'Sort by (desc)') {
            title += ' (desc)';
        }
        if (order === 'asc' && title === 'Sort by (desc)' && !selected) {
            title = 'Sort by'
        }
    }

    // handle sort
    $: {
        if (selected) {
            handleSelect(option, order);
        }
    }
</script>

<details class="dropdown dropdown-end">
    <summary class="m-1 btn min-w-32">{title}</summary>
    <ul class="dropdown-content menu z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        {#each Object.keys(items) as item}
            <li class="menu-item">
                <div 
                tabindex="0"
                role="button" 
                on:keydown={() => selected = item}
                class="hover:bg-primary" 
                on:click={() => selected = item}>
                    {item}
                </div>
            </li>
        {/each}
    </ul>
</details>

<div class="flex flex-col min-w-20 items-center">
    <label for="toggle" class="text-sm">Desc?</label>
    <input type="checkbox" class="toggle mx-2" bind:checked />
</div>
