<script>
    export let imageUrl;
    export let name;
</script>

<div class="max-w-32 my-auto">
  <img class="p-5"
    src={imageUrl}
    alt="" />
  <!-- <p class="text-bold-600 font-bold text-center">
    {name}
  </p> -->
</div>
