<script>
    import { onMount } from 'svelte';
    import * as d3 from 'd3';

    // joy plot of each state, with a density map of the percent uninsured in each county
    let data = {};
    let svg;

    let margin = {top: 60, right: 30, bottom: 20, left:110},
        width = 600 - margin.left - margin.right,
        height = 800 - margin.top - margin.bottom;

    onMount(() => {
        // load the  data
        // Add X axis
        svg = d3.select("#map-container2")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");
                        

        fetch('https://api.care-hub.me/visualizations/dems')
            .then(response => response.json())
            .then(d => {
                data = d;
                console.log(data);
                data.sort(function(b, a) {
                    return d3.max(b['percent_uninsured']) - d3.max(a['percent_uninsured']);
                });
                
                let categories = data.map(d => d['name']);
                let n = data.length;

                let x = d3.scaleLinear()
                    .domain([-5, 40])
                    .range([ 0, width ]);
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x));

                // Create a Y scale for densities
                let y = d3.scaleLinear()
                    .domain([0, 6])
                    .range([ height, 0]);

                // Create the Y axis for names
                let yName = d3.scaleBand()
                    .domain(categories)
                    .range([0, height])
                    .paddingInner(1)
                svg.append("g")
                    .call(d3.axisLeft(yName));

                var kde = kernelDensityEstimator(kernelEpanechnikov(2), x.ticks(100)) // increase this 40 for more accurate density.
                var allDensity = []
                for (let i = 0; i < n; i++) {
                    let density = kde( data[i]['percent_uninsured'] )
                    allDensity.push({key: data[i]['name'], density: density})
                }

                // Add areas
                svg.selectAll("areas")
                    .data(allDensity)
                    .enter()
                    .append("path")
                    .attr("transform", function(d){return("translate(0," + (yName(d.key)-height) +")" )})
                    .datum(function(d){return(d.density)})
                    .attr("fill", "#69b3a2")
                    .attr("stroke", "#000")
                    .attr("stroke-width", 1)
                    .attr("d",  d3.line()
                        .curve(d3.curveBasis)
                        .x(function(d) { return x(d[0]); })
                        .y(function(d) { return y(d[1]); })
                    )

            });
    });


// This is what I need to compute kernel density estimation
function kernelDensityEstimator(kernel, X) {
  return function(V) {
    return X.map(function(x) {
      return [x, d3.mean(V, function(v) { return kernel(x - v); })];
    });
  };
}
function kernelEpanechnikov(k) {
  return function(v) {
    return Math.abs(v /= k) <= 1 ? 0.75 * (1 - v * v) / k : 0;
  };
}
    
</script>


<div id="map-container2" class="hidden sm:block py-[20px] bg-slate-50 mb-20">
    <h3 class="font-semibold text-lg block mx-auto text-center">Percent Uninsured Distribution by County</h3>
</div>

<!--  hidden md:block mx-auto -->

<style>
    :global(#map-container2 svg) {
        margin: auto;
    }
</style>