<script>
    import Card from '../../components/HospitalCard.svelte';
    import SearchBar from '../../components/SearchBar.svelte';
    import SortDropdown from '../../components/Sort.svelte';
    import FilterDropdown from '../../components/Filter.svelte'
    import { onMount, tick } from 'svelte';

    let content = [];         
    let currentPage = 1;
    let instancesPerPage = 9;
    let searchText = ''; 
    let total = 0;

    let goToNext = true;
    let goToPrev = false;

    let sortParam = ''; 
    let sortOrder = 'asc'; 

    async function fetchData(skip, limit, sort = '', query = '', filter = '', order = 'asc') {
        let url = `https://api.care-hub.me/hospitals?limit=${limit}&skip=${skip}`;
        if (sort)
            url += `&sort=${sort}`;
        if (filter)
            url += `&${filter}`;
        if (order)
            url += `&order=${order}`;
        if (query)
            url = `https://api.care-hub.me/search/hospitals?query=${encodeURIComponent(query)}`;
        let res = await fetch(url);
        res = await res.json();
        return res;
    }

    async function loadData() {
        let res;
        let filter = false;
        for (let i = 0; i < sortParam.length; i++) {
            if (sortParam[i] === "=") {
                filter = true;
            }
        }
        if (filter) {
            res = await fetchData((currentPage - 1) * instancesPerPage, instancesPerPage, null, null, sortParam, null);
        }
        else {
            res = await fetchData((currentPage - 1) * instancesPerPage, instancesPerPage, sortParam, null, null, sortOrder);
        }
        content = res[0];
        total = res[1];
        updatePaginationControls();
    }

    onMount(loadData);

    async function nextPage() {
        currentPage++;
        await loadData();
        scroll_to_top();
    }

    async function nextMostPage() {
        currentPage = Math.ceil(total / instancesPerPage);
        await loadData();
        scroll_to_top();
    }

    async function prevPage() {
        currentPage--;
        await loadData();
        scroll_to_top();
    }

    async function prevMostPage() {
        currentPage = 1;
        await loadData();
        scroll_to_top();
    }

    async function handleSearch(event) {
        if (searchText.trim() === '') {
            await loadData();
        } else {
            const res = await fetchData(0, total, '', searchText);
            content = res;
            total = res.length;
            currentPage = 1;
            goToNext = false;
            goToPrev = false;
        }
    }

    async function handleAttributeClick(option, order='asc') {
        sortParam = option;
        sortOrder = order;
        currentPage = 1;
        await loadData();
    }

    function updatePaginationControls() {
        goToNext = currentPage * instancesPerPage < total;
        goToPrev = currentPage > 1;
    }

    function scroll_to_top() {
        window.scrollTo(0, 0);
    }

    let src = '/photos/headers/hospital.png';
    
</script>

<h1 class="font-bold text-4xl mx-auto text-center mt-12">Hospitals</h1>


<!-- add a description for the page -->
<p class="text-center text-gray-400 mt-4 w-3/4 mb-8 mx-auto">
    These are hospitals for different given states in the United States.  <a class="text-light-blue underline" href="CMS.gov">CMS.gov</a> Information about each hospitals location, chargemaster, number of beds, number of uninsured patients, images is available.
  </p>

<div class="flex flex-row flex-wrap space-x-4 place-content-center mx-5 sm:mx-12 mb-12">
    <!-- svelte-ignore a11y-img-redundant-alt -->
    <img {src} alt="Hospitals Image" style="width: 100%; max-width: 450px; height: auto;" />
</div>

<p class="text-center text-gray-400 mt-4 w-3/4 mb-8 mx-auto text-sm">
    {total -1} results
</p>

<!-- Container for search bar and dropdown, aligned in a row -->
<div class="flex flex-row items-center mt-5 p-2 bg-gray-100 mx-10 rounded-md">
    <!-- Search Bar Component -->
    <SearchBar bind:searchText {handleSearch} />

    <!-- Dropdown Component -->
    <SortDropdown items={{
        "Rating": "rating",
    }} handleSelect={handleAttributeClick} />
    <FilterDropdown items={{
        "Local Gov Owned": "ownership=gov_local",
        "Church Owned": "ownership=church",
        "Physician Owned": "ownership=physician",
        "Acute Type": "type=acute",
        "Psych Type": "type=psych",
        "Childrens Type": "type=childrens",
        "Emergency Services Available": "emergency_services_available=true",
    }} handleSelect={handleAttributeClick} />
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-10" id="results">
    {#key currentPage}
  {#if content}
    {#each content as item}
        <Card {...item} highlightText={searchText}/>
    {/each}
  {:else}
    <p>Loading...</p>
  {/if}
{/key}
</div>

<div class="flex flex-row items-center justify-center mt-12">
    <button class="{goToPrev ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-l" on:click={prevMostPage} disabled='{!goToPrev}'>
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
   </button>
   <button class="{goToPrev ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-l" on:click={prevPage} disabled='{!goToPrev}'>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
  </button>
  <div class="bg-gray-200 text-gray-800 font-bold py-2 px-4">
      {currentPage} of {Math.ceil(total / instancesPerPage)} 
  </div>
  <button class="{goToNext ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-r" on:click={nextPage} disabled='{!goToNext}'>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
  </button>
  <button class="{goToNext ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-r" on:click={nextMostPage} disabled='{!goToNext}'>
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
</button>
</div>
