<script>
  import Card from '../../components/OrgCard.svelte';
  import SearchBar from '../../components/SearchBar.svelte';
  import SortDropdown from '../../components/Sort.svelte';
  import FilterDropdown from '../../components/Filter.svelte'
  import { onMount, onDestroy, tick } from 'svelte';

  let content = [];         
  let currentPage = 1;
  let instancesPerPage = 9;
  let searchText = ''; 
  let total = 0;

  let goToNext = true;
  let goToPrev = false;

  let sortParam = ''; 
  let sortOrder = 'asc'; 

  async function fetchData(skip, limit, sort = '', query = '', filter = '', order = 'asc') {
    let url = `https://api.care-hub.me/organizations?limit=${limit}&skip=${skip}`;
        if (sort)
            url += `&sort=${sort}`;
        if (filter)
            url += `&${filter}`;
        if (order)
            url += `&order=${order}`;
        if (query)
            url = `https://api.care-hub.me/search/organizations?query=${encodeURIComponent(query)}`;
        let res = await fetch(url);
        res = await res.json();
        return res;
  }

  async function loadData() {
    let res;
    let filter = false;
    for (let i = 0; i < sortParam.length; i++) {
        if (sortParam[i] === "=") {
            filter = true;
        }
    }
    if (filter) {
        res = await fetchData((currentPage - 1) * instancesPerPage, instancesPerPage, null, null, sortParam, null);
    }
    else {
        res = await fetchData((currentPage - 1) * instancesPerPage, instancesPerPage, sortParam, null, null, sortOrder);
    }
    content = res[0];
    total = res[1];
    updatePaginationControls();
  }

  onMount(loadData);

  async function nextPage() {
    currentPage++;
    await loadData();
    scroll_to_top();
  }

  async function prevPage() {
      currentPage--;
      await loadData();
      scroll_to_top();
  }

  async function nextMostPage() {
      currentPage = Math.ceil(total / instancesPerPage);
      await loadData();
      scroll_to_top();
  }

  async function prevMostPage() {
      currentPage = 1;
      await loadData();
      scroll_to_top();
  }

  async function handleSearch(event) {
    if (searchText.trim() === '') {
        await loadData();
    } else {
        const res = await fetchData(0, total, '', searchText);
        content = res;
        total = res.length;
        currentPage = 1;
        goToNext = false;
        goToPrev = false;
    }
  }

  async function handleAttributeClick(option, order='asc') {
    sortParam = option;
    sortOrder = order;
    currentPage = 1;
    await loadData();
  }

  function updatePaginationControls() {
        goToNext = currentPage * instancesPerPage < total;
        goToPrev = currentPage > 1;
    }

    function scroll_to_top() {
        window.scrollTo(0, 0);
    }
    let src = '/photos/headers/organizations.png';

</script>

<h1 class="font-bold text-4xl mx-auto text-center mt-12">Organizations</h1>


<!-- add a description for the page -->
<p class="text-center text-gray-600 mt-4 w-3/4 mb-8 mx-auto">
These are HRSA-recognized and funded health care centers which are dedicated to providing <a class="text-light-blue underline" href="https://bphc.hrsa.gov/compliance">high-quality care</a> to low-income individuals, especially those without insurance.
Centers in the <a class="text-light-blue underline" href="https://bphc.hrsa.gov/about-health-centers/how-become-health-center">HRSA's health-care-program</a> recieve government benefits
and typically provide services specifically to those on government insurance programs such as Medicaid/Medicare, CHIP, and the Affordable Care Act. They typically charge for their services
on a sliding scale by income eligibility. See details on each center's website for more information.
</p>

<div class="flex flex-row flex-wrap space-x-4 place-content-center mx-5 sm:mx-12 mb-12">
    <!-- svelte-ignore a11y-img-redundant-alt -->
    <img {src} alt="Organizations Image" style="width: 100%; max-width: 460px; height: auto;" />
</div>

<p class="text-center text-gray-400 mt-4 w-3/4 mb-8 mx-auto text-sm">
    {total -1} results
</p>

<!-- Container for search bar and dropdown, aligned in a row -->
<div class="flex flex-row items-center mt-5 p-2 bg-gray-100 mx-10 rounded-md">
    <!-- Search Bar Component -->
    <SearchBar bind:searchText {handleSearch} />

    <!-- Dropdown Component -->
    <SortDropdown items={{
        "Number Patients": "num_patients_2022",
    }} handleSelect={handleAttributeClick} />
    <FilterDropdown items={{
        "Medical Services": "services=medical",
        "Vision Services": "services=vision",
        "Enabling Services": "services=enabling",
        "Substance Services": "services=substance",
        "School Type": "type=school",
        "Nursing Type": "type=nursing",
    }} handleSelect={handleAttributeClick} />
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-10" id="results">
    {#key currentPage}
  {#if content}
    {#each content as item}
        <Card {...item} highlightText={searchText}/>
    {/each}
  {:else}
    <p>Loading...</p>
  {/if}
{/key}
</div>

<div class="flex flex-row items-center justify-center mt-12">
    <button class="{goToPrev ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-l" on:click={prevMostPage} disabled='{!goToPrev}'>
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
   </button>
   <button class="{goToPrev ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-l" on:click={prevPage} disabled='{!goToPrev}'>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
  </button>
  <div class="bg-gray-200 text-gray-800 font-bold py-2 px-4">
      {currentPage} of {Math.ceil(total / instancesPerPage)} 
  </div>
  <button class="{goToNext ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-r" on:click={nextPage} disabled='{!goToNext}'>
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
  </button>
  <button class="{goToNext ? 'bg-gray-200 hover:bg-gray-300 text-gray-800' : 'bg-gray-100 text-gray-600'} font-bold py-2 px-4 rounded-r" on:click={nextMostPage} disabled='{!goToNext}'>
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
</button>
</div>